<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>
    <!-- TODO: Mostrar todos los libros -->
    <table>
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <!-- Mustache -->
            {{#books}}
                <tr>
                    <td>
                        {{ISBN}}
                    </td>
                    <td>
                        {{title}}
                    </td>
                </tr>
            {{/books}}
        </tbody>
    </table>
</body>
</html>